@page
@model MintaProjekt.Pages.AddEmployeeModel
@{
}
<h2>Add Employee</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" onsubmit="return confirmSubmit()">
    <table>
        <tr>
            <td><label for="FirstName">First Name:</label></td>
            <td><input type="text" id="FirstName" asp-for="Employee.FirstName" /></td>
        </tr>
        <tr>
            <td><label for="LastName">Last Name:</label></td>
            <td><input type="text" id="LastName" asp-for="Employee.LastName" /></td>
        </tr>
        <tr>
            <td><label for="Email">Email:</label></td>
            <td><input type="email" id="Email" asp-for="Employee.Email" /></td>
        </tr>
        <tr>
            <td><label for="PhoneNumber">Phone Number:</label></td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="text" value="+36" disabled size="3">

                <select asp-for="SelectedAreaCode">
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="70">70</option>
                </select>
                <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control"
                       pattern="[0-9]{7}" maxlength="7" placeholder="Enter 7 digits" asp-for="PhoneNumber">
                </div>
                <!-- Validation message for phone number -->
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label for="HireDate">Hire Date:</label></td>
            <td><input type="date" id="HireDate" asp-for="Employee.HireDate" /></td>
        </tr>
        <tr>
            <td><label for="JobTitle">Job Title:</label></td>
            <td><input type="text" id="JobTitle" asp-for="Employee.JobTitle" /></td>
        </tr>
        <tr>
            <td><label for="DepartmentID">Department:</label></td>
            <td>
                <select id="DepartmentID" asp-for="Employee.DepartmentID">
                    <option value="1">HR</option>
                    <option value="2">Sales</option>
                    <option value="3">Finance</option>
                    <option value="4">IT</option>
                    <option value="5">Marketing</option>
                    <option value="6">Administration</option>
                    <option value="7">Customer Service</option>
                </select>
            </td>
        </tr>
    </table>
    <br />
    <button type="submit">Add Employee</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function confirmSubmit() {
            return confirm('Are you sure you want to submit this form?');
        }
    </script>
}