@page
@model MintaProjekt.Pages.AddEmployeeModel
@{
}
<h2>Add Employee</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" onsubmit="return confirmSubmit()">
    <table>
        <tr>
            <td><label for="FirstName">First Name:</label></td>
            <td><input type="text" id="FirstName" asp-for="Employee.FirstName" /></td>
        </tr>
        <tr>
            <td><label for="LastName">Last Name:</label></td>
            <td><input type="text" id="LastName" asp-for="Employee.LastName" /></td>
        </tr>
        <tr>
            <td><label for="Email">Email:</label></td>
            <td><input type="email" id="Email" asp-for="Employee.Email" /></td>
        </tr>
        <tr>
            <td><label for="PhoneNumber">Phone Number:</label></td>
            <td>
                <div style="display: flex; align-items: center;">
                    <input type="text" value="@Model.Employee.PhoneNumber.CountryCode" disabled size="3" />
                    <select asp-for="Employee.PhoneNumber.SelectedAreaCode" class="form-control">
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="70">70</option>
                    </select>
                    <input type="text" id="Employee_PhoneNumber_LocalPhoneNumber" name="Employee.PhoneNumber.LocalPhoneNumber" class="form-control"
                           pattern="[0-9]{7}" maxlength="7" placeholder="Enter 7 digits" />
                </div>
                <span asp-validation-for="Employee.PhoneNumber.LocalPhoneNumber" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label for="HireDate">Hire Date:</label></td>
            <td><input type="date" id="HireDate" asp-for="Employee.HireDate" /></td>
        </tr>
        <tr>
            <td><label for="JobTitle">Job Title:</label></td>
            <td><input type="text" id="JobTitle" asp-for="Employee.JobTitle" /></td>
        </tr>
        <tr>
            <td><label for="DepartmentID">Department:</label></td>
            <td>
                <label asp-for="Employee.DepartmentName"></label>
                <select id="DepartmentName" asp-for="Employee.DepartmentName" class="form-control">
                    @foreach (var department in Enum.GetValues(typeof(Models.Department)))
                    {
                        <option value="@department">@department</option>
                    }
                </select>
            </td>
        </tr>
    </table>
    <br />
    <button type="submit">Add Employee</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function confirmSubmit() {
            return confirm('Are you sure you want to submit this form?');
        }
    </script>
}