@page
@model MintaProjekt.Pages.DeleteEmployeeModel
@{
    ViewData["Title"] = "Delete Employee";
}

<h2>Delete Employee</h2>

<form method="post">
    <div>
        <label for="EmployeeID">Enter Employee ID:</label>
        <input type="number" id="EmployeeID" asp-for="EmployeeID" />
    </div>
    <button type="submit">Delete</button>
</form>

<a asp-page="/Index">Cancel</a>
