@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IndexModel
@{
}

<h1>@Localizer["Hello"]</h1>
@if (Model.CurrentUser != null)
{
    <h2>Welcome, @Model.CurrentUser.UserName!</h2>
}
else
{
    <h2>Welcome, guest!</h2>
}
